"""
Global service objects.
"""

# --- IMPORTS ---
from fastapi import FastAPI
from {{name}}.models import Config
from {{name}}.models import Health
from {{name}}.models import Info


# --- CODE ---
# FastAPI app
app = FastAPI(
    title = '{{name | title}}',
    description = '{{description}}'
)

# Configuration
config = Config()

# Info
info = Info(
    name = app.title,
    description = app.description,
    version = app.version,
    extra = {}
)

# System health
health = Health()
