"""
Base {{name | title}} error.
"""

# --- TYPES ---
from typing import Any


# --- GLOBAL ---
DEFAULT_MESSAGE = 'Generic {{name | title}} error'


# --- ERROR CLASS ---
class {{name | title}}Error(Exception):
    """
    Base {{name | title}} error.
    """
    message = DEFAULT_MESSAGE

    def __init__(self, *args: Any) -> None:
        """
        Initialize a {{name | title}} error.

        :param *args: Optional additional context or details for the error.

        :returns: None.
        """
        super().__init__(self.message, *args)
